html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  counter-reset: slide;
  font: 25px/2 'Roboto Slab', sans-serif; }

a {
  text-decoration: none; }

.caption {
  display: none;
  margin: 0 0 50px;
  color: #3C3D40;
  text-shadow: 0 1px 1px #8D8E90; }
  .caption h1 {
    font: bold 50px/1 'Roboto Slab', sans-serif; }
  .caption a {
    color: #4b86c2;
    text-shadow: 0 -1px 1px #1F3F60;
    text-decoration: none; }
    .caption a:hover {
      color: #5e93c8; }

.badge {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  overflow: hidden;
  visibility: hidden;
  width: 11em;
  height: 11em;
  line-height: 2.5;
  font-size: 15px; }

.badge a {
  position: absolute;
  bottom: 50%;
  right: -50%;
  left: -50%;
  visibility: visible;
  background: #4b86c2;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  color: #FFF;
  text-decoration: none;
  text-align: center;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotate(45deg) translateY(-1em);
  -moz-transform: rotate(45deg) translateY(-1em);
  -ms-transform: rotate(45deg) translateY(-1em);
  -o-transform: rotate(45deg) translateY(-1em);
  transform: rotate(45deg) translateY(-1em); }
  .badge a:hover {
    background: #568ec6; }

.slide {
  position: relative;
  width: 1024px;
  height: 640px;
  background: #FFF;
  color: #000;
  -webkit-print-color-adjust: exact;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }
  .slide:after {
    position: absolute;
    top: 0;
    right: 119px;
    padding: 20px 0 0;
    width: 50px;
    height: 80px;
    color: #FFF;
    counter-increment: slide;
    content: counter(slide);
    text-align: center;
    font-size: 20px; }
  .slide > div {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 105px 120px 0;
    width: 784px;
    height: 535px; }
  .debug .slide {
    background: white; }

.slide h2 {
  margin: 0 0 37px;
  color: #333;
  font: bold 50px/1 'Roboto Slab', sans-serif; }
.slide p {
  margin: 0 0 50px; }
.slide p.note {
  color: #666; }
.slide a {
  border-bottom: 0.1em solid;
  color: #4b86c2; }
.slide b, .slide strong {
  font-weight: bold; }
.slide i {
  font-style: italic; }
.slide em {
  color: crimson; }
.slide kbd, .slide samp {
  padding: 3px 8px;
  border-radius: 8px;
  background: #fafaa2;
  color: #000;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1;
  font-family: 'Oxygen Mono', monospace; }
.slide blockquote {
  font-style: italic; }
  .slide blockquote:before {
    position: absolute;
    margin: -16px 0 0 -80px;
    color: #CCC;
    font: 200px/1 'Roboto Slab', sans-serif;
    content: '\201C'; }
  .slide blockquote + figcaption {
    margin: -50px 0 50px;
    font-style: italic;
    font-weight: bold; }
.slide ol, .slide ul {
  margin: 0 0 50px;
  counter-reset: list; }
  .slide ol li, .slide ul li {
    text-indent: -2em; }
    .slide ol li:before, .slide ul li:before {
      display: inline-block;
      width: 2em;
      color: #BBB;
      text-align: right; }
  .slide ol ol,
  .slide ol ul, .slide ul ol,
  .slide ul ul {
    margin: 0 0 0 2em; }
.slide ul > li:before {
  content: '\2022\00A0\00A0'; }
.slide ul > li:lang(ru):before {
  content: '\2014\00A0\00A0'; }
.slide ol > li:before {
  counter-increment: list;
  content: counter(list) ".\00A0"; }
.slide pre {
  margin: 0 0 49px;
  padding: 1px 0 0;
  counter-reset: code;
  white-space: normal; }
  .slide pre code {
    display: block;
    padding: 0;
    background: none;
    white-space: pre;
    line-height: 1.2em; }
    .slide pre code:before {
      position: absolute;
      margin: 0 0 0 -110px;
      width: 100px;
      color: #BBB;
      text-align: right;
      counter-increment: code;
      content: counter(code,decimal-leading-zero) "."; }
    .slide pre code:only-child:before {
      content: ''; }
  .slide pre mark {
    padding: 3px 8px;
    border-radius: 8px;
    background: #F7FCA0;
    color: #000;
    font-style: normal; }
    .slide pre mark.important {
      background: #C00;
      color: #FFF;
      font-weight: normal; }
    .slide pre mark.comment {
      padding: 0;
      background: none;
      color: #999; }
.slide table {
  margin: 0 0 50px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }
  .slide table th, .slide table td {
    background: url("data:image/gif;base64,R0lGODdhAQABAPAAAJmZmQAAACH/C1hNUCBEYXRhWE1QAj94ACwAAAAAAQABAAACAkQBADs=") 0 100% repeat-x; }
  .slide table th {
    text-align: left;
    font-weight: bold; }
  .slide table.striped tr:nth-child(even) {
    background: #EEE; }
.slide.cover, .slide.shout {
  z-index: 1; }
  .slide.cover:after, .slide.shout:after {
    visibility: hidden; }
.slide.cover {
  background: #000; }
  .slide.cover img, .slide.cover svg, .slide.cover video,
  .slide.cover object, .slide.cover canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .slide.cover.w img, .slide.cover.w svg, .slide.cover.w video,
  .slide.cover.w object, .slide.cover.w canvas {
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .slide.cover.h img, .slide.cover.h svg, .slide.cover.h video,
  .slide.cover.h object, .slide.cover.h canvas {
    left: 50%;
    height: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .slide.cover.w.h img, .slide.cover.w.h svg, .slide.cover.w.h video,
  .slide.cover.w.h object, .slide.cover.w.h canvas {
    top: 0;
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
.slide.shout {
  background-image: none; }
  .slide.shout h2 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 1;
    font-size: 140px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
.slide .place {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .slide .place.t.l, .slide .place.t.r, .slide .place.b.r, .slide .place.b.l {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .slide .place.t, .slide .place.b {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .slide .place.l, .slide .place.r {
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .slide .place.t, .slide .place.t.l, .slide .place.t.r {
    top: 0; }
  .slide .place.r {
    right: 0;
    left: auto; }
  .slide .place.b, .slide .place.b.r, .slide .place.b.l {
    top: auto;
    bottom: 0; }
  .slide .place.l {
    left: 0; }
.slide footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -640px;
  z-index: 1;
  display: none;
  padding: 20px 120px;
  background: #fafaa2;
  box-shadow: 0 0 0 2px #f0f0ac inset;
  -webkit-transition: bottom 0.3s;
  -moz-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s; }
.slide:hover footer {
  bottom: 0; }

@media screen {
  .list {
    position: absolute;
    clip: rect(0, auto, auto, 0);
    padding: 80px 0 40px 100px;
    background: #585a5e }
    .list .caption,
    .list .badge {
      display: block; }
    .list .slide {
      float: left;
      margin: 0 -412px -220px 0;
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -o-transform: scale(0.5);
      transform: scale(0.5); }
      .list .slide:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 512px;
        height: 320px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.005), 0 20px 50px rgba(42, 43, 45, 0.6);
        border-radius: 2px;
        content: '';
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2); }
      .list .slide:after {
        top: auto;
        right: auto;
        bottom: -80px;
        left: 120px;
        padding: 0;
        width: auto;
        height: auto;
        background: none;
        color: #3C3D40;
        text-shadow: 0 1px 1px #8D8E90;
        font-weight: bold;
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
        transform: scale(2); }
      .list .slide:hover:before {
        box-shadow: 0 0 0 10px rgba(42, 43, 45, 0.3), 0 20px 50px rgba(42, 43, 45, 0.6); }
      .list .slide:target:before {
        box-shadow: 0 0 0 1px #376da3, 0 0 0 10px #4b86c2, 0 20px 50px rgba(42, 43, 45, 0.6); }
      .list .slide:target:after {
        text-shadow: 0 1px 1px rgba(42, 43, 45, 0.6);
        color: #4b86c2; }
      .list .slide > div:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        content: ''; }
      .list .slide.cover:after, .list .slide.shout:after {
        visibility: visible; }
      .list .slide footer {
        display: block; }

  .full {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin: -320px 0 0 -512px;
    width: 1024px;
    height: 640px;
    background: #000; }
    .full .slide {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 150%; }
      .full .slide .next {
        visibility: hidden; }
        .full .slide .next.active {
          visibility: visible; }
      .full .slide:target {
        margin: 0; }
      .full .slide.shout.grow h2, .full .slide.shout.shrink h2 {
        opacity: 0;
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out; }
      .full .slide.shout.grow:target h2, .full .slide.shout.shrink:target h2 {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-50%);
        -moz-transform: scale(1) translateY(-50%);
        -ms-transform: scale(1) translateY(-50%);
        -o-transform: scale(1) translateY(-50%);
        transform: scale(1) translateY(-50%); }
      .full .slide.shout.grow h2 {
        -webkit-transform: scale(0.1) translateY(-50%);
        -moz-transform: scale(0.1) translateY(-50%);
        -ms-transform: scale(0.1) translateY(-50%);
        -o-transform: scale(0.1) translateY(-50%);
        transform: scale(0.1) translateY(-50%); }
      .full .slide.shout.shrink h2 {
        -webkit-transform: scale(10) translateY(-50%);
        -moz-transform: scale(10) translateY(-50%);
        -ms-transform: scale(10) translateY(-50%);
        -o-transform: scale(10) translateY(-50%);
        transform: scale(10) translateY(-50%); }
    .full .progress {
      position: absolute;
      right: 0;
      bottom: 0;
      left: -10px;
      z-index: 1; }
      .full .progress div {
        padding-left: 10px;
        width: 0;
        height: 10px;
        background: 100% 0 no-repeat;
        background-color: gray;
        background-clip: content-box;
        -webkit-transition: width 0.2s linear;
        -moz-transition: width 0.2s linear;
        -o-transition: width 0.2s linear;
        transition: width 0.2s linear; } }
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    .list {
      background-size: 256px; } }
    @media screen and (max-width: 1324px) {
      .list .slide {
        margin: 0 -688px -400px 0;
        -webkit-transform: scale(0.25);
        -moz-transform: scale(0.25);
        -ms-transform: scale(0.25);
        -o-transform: scale(0.25);
        transform: scale(0.25); } }
      @media screen and (max-width: 1324px) {
        .list .slide:before {
          width: 256px;
          height: 160px;
          -webkit-transform: scale(4);
          -moz-transform: scale(4);
          -ms-transform: scale(4);
          -o-transform: scale(4);
          transform: scale(4); } }
      @media screen and (max-width: 1324px) {
        .list .slide:after {
          bottom: -104px;
          -webkit-transform: scale(4);
          -moz-transform: scale(4);
          -ms-transform: scale(4);
          -o-transform: scale(4);
          transform: scale(4); } }
      @media screen and (max-width: 1324px) {
        .list .slide:target:before {
          box-shadow: 0 0 0 1px #376da3, 0 0 0 10px #4b86c2, 0 20px 50px rgba(42, 43, 45, 0.6); } }
@page {
  margin: 0;
  size: 1024px 640px; }

.slide pre code{
  display: block;
  padding: 0 1em 1em 1em;
  background-color: #141414;
  color: #F8F8F8;
  font-family: 'Oxygen Mono', monospace;
  font-size: 1em;
  overflow: auto;
}

pre .shebang,
pre .comment,
pre .template_comment,
pre .javadoc {
  color: #777777;
  font-style: italic;
}

pre .keyword,
pre .tag,
pre .tex .command,
pre .request,
pre .status,
pre .clojure .built_in,
pre .clojure .attribute {
  color: #CDA869;
}

pre .constant,
pre .sub .identifier,
pre .pi,
pre .decorator,
pre .built_in,
pre .tex .special,
pre .smalltalk .class,
pre .css .tag,
pre .javadoctag,
pre .yardoctag,
pre .phpdoc {
  color: #8698B7;
}

pre .string,
pre .tag .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date {
  color: #8F9D6A;
}

pre .symbol,
pre .ruby .symbol .string,
pre .number {
  color: #CF6A4C;
}

pre .variable,
pre .vbscript,
pre .literal {
  color: #F9EE98;
}

pre .regexp {
  color: #E9C062;
}

pre .title{
  color: #9B703F;
}

pre .inheritance,
pre .parent{
  color: #9B5C2E;
  font-style: italic;
}

pre .haskell .type{
  color: #DAD085;
}

pre .sub .keyword,
pre .method,
pre .list .title,
pre .nginx .title,
pre .css .rules .property,
pre .css .id {
  color: #FFFFB6;
}

pre .hexcolor {
  color: #C6C5FE;
}

pre .subst {
  color: #DAEFA3;
}

pre .tex .formula {
  opacity: 0.7;
}

.invisible {
  color: white;
}
